@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.postion-fixed {
    position: fixed;
}

.justi-space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.navbar-items {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: black;
}

.lasles {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
}

.lasles:hover {
    color: red;
}


.lasles b {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.7px;
    text-align: left;
}

.sign-in {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: black;
}

.sign-in:hover {
    color: red;
}

.navbar-items:hover {
    color: red;
}

.btn-sign {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: #F53855;
    background-color: white;
}

.btn-sign:hover {
    background-color: #F53855;
    color: white;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-40 {
    gap: 40px;
}

.gap-15 {
    gap: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-sign {
    padding: 10px 24px 10px 22px;
    border: 2px solid;
    border-radius: 30px;
}

.col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
}

.heading-first {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    max-width: 555px;
}

.heading-first span {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
}

.first-paragraph {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 555px;
}

.first-paragraph span {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.btn-started {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #fff;
    background-color: #F53838;
    padding: 15px 50px 15px 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 7px 12px #F5383859;
    ;
}

.btn-started:hover {
    background-color: white;
    color: #F53838;
    border: 1px solid #F53855;
}

.pt-120 {
    padding-top: 120px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.mt-90 {
    margin-top: 90px;
}

.justify-content-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.align-items-center {
    align-items: center;
}

.gap-35 {
    gap: 25px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-box-lite {
    width: 205px;
}

.info-box {
    padding: 38px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.justi-content-center {
    justify-content: center;
}

.numbers-1 {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.numbers-2 {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.border-right-1 {
    border-right: 2px solid #EEEFF2;
}

.border-right-2 {
    border-right: 2px solid #eeeff2;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

.we-provide {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    max-width: 383px;
}

.you-can {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 450px;
}

.powerful-vpn {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.pt-40{
    padding-top: 40px;
}
.pt-30{
    padding-top: 30px;
}
.pt-20{
    padding-top: 20px;
}
.gap-10{
    gap: 10px;
}
.pb-17{
    padding-bottom: 17px;
}
.align-items-end{
    align-items: end;
}