@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.postion-fixed {
    position: fixed;
}

.nav-background {
    background-color: #FDFDFD;
}

.justi-space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.navbar-items {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: left;
    color: black;
}

.lasles {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
}

.lasles:hover {
    color: red;
}


.lasles b {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.7px;
    text-align: left;
}

.sign-in {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: black;
}

.sign-in:hover {
    color: red;
}

.navbar-items:hover {
    color: red;
}

.btn-sign {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    color: #F53855;
    background-color: white;
}

.btn-sign:hover {
    background-color: #F53855;
    color: white;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-40 {
    gap: 40px;
}

.gap-15 {
    gap: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-sign {
    padding: 10px 24px 10px 22px;
    border: 2px solid;
    border-radius: 30px;
}

.col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
}

.heading-first {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    max-width: 555px;
}

.heading-first span {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
}

.first-paragraph {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 555px;
}

.first-paragraph span {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.btn-started {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #fff;
    background-color: #F53838;
    padding: 15px 50px 15px 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 10px rgba(173, 34, 34, 0.5);
    transition: 0.4s;

}

.btn-started:hover {
    background-color: white;
    color: #F53838;
    border: 1px solid #F53855;
}

.pt-120 {
    padding-top: 120px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.mt-90 {
    margin-top: 90px;
}

.justify-content-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.gap-35 {
    gap: 25px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-box-lite {
    width: 205px;
}

.info-box {
    padding: 38px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.justi-content-center {
    justify-content: center;
}

.numbers-1 {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.numbers-2 {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.border-right-1 {
    border-right: 2px solid #EEEFF2;
}

.border-right-2 {
    border-right: 2px solid #eeeff2;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

.we-provide {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    max-width: 383px;
}

.you-can {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 450px;
}

.powerful-vpn {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.pt-60 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.gap-10 {
    gap: 10px;
}

.pb-17 {
    padding-bottom: 17px;
}

.align-items-end {
    align-items: end;
}

.background-color {
    background-color: #FAFAFA;
}

.choose-plan {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.let-choose {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 555px;
}

.free-plan {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.section-3-box {
    border: 2px solid #DDDDDD;
    background-color: white;
}

.section-3-box:hover {
    border: 2px solid #F53838;
}

.flex-direction-column {
    flex-direction: column;
}

.pt-130 {
    padding-top: 130px;
}

.box-last-text {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.box-last-text span {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.select-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    text-align: left;
    color: #F53838;
    padding: 13px 62px 13px 62px;
    border-radius: 35px;
    border: 2px solid #F53838;
}

.select-btn:hover {
    background-color: #F53838;
    color: white;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-120 {
    padding-top: 120px;
}

.standard-plan {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.premium-plan {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.pt-90 {
    padding-top: 90px;
}

.pt-50 {
    padding-top: 50px;
}

.Unlimited-Bandwitch {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.huge-global {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.huge-global span {
    display: block;
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.see-LaslesVPN {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 555px;
}

.see-LaslesVPN span {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.pt-150 {
    padding-top: 150px;
}

.pt-155 {
    padding-top: 155px;
}

.pt-35 {
    padding-top: 35px;
}

.over-flow-auto {
    overflow-x: auto;
}

.trusted-by {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.happy-customer {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.pt-57 {
    padding-top: 57px;
}

.pleasure-when {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.these-are {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.slider-box {
    border: 2px solid rgb(175, 175, 175);
    min-width: 400px;
    height: 220px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

}

.justify-content-space-btw {
    justify-content: space-between;
}

.flex-direction-col-unset {
    flex-direction: column unset;
}

.align-items-center {
    align-items: center;
}

.pl-20{
    padding-left: 20px;
}

.slick-box-heading {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.slick-box-address {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.pl-105 {
    padding-left: 105px;
}

.pl-85 {
    padding-left: 85px;

}

.svg-no {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.slick-para-3 {
    max-width: 340px;
    padding-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.gap-15 {
    gap: 15px;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.mt-25 {
    margin-top: 25px;
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    background: white;
    cursor: pointer;
    transition: all 200ms linear;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
    background: white;
    cursor: pointer;
    transition: all 200ms linear;
}

.next:hover {
    background-color: #F53838;

}

.next:hover path {
    fill: white;
}

.prev:hover {
    background-color: #F53838;

}

.prev:hover path {
    fill: white;
}

.justify-center {
    justify-content: center;
}

.slick-dots li button:before {
    opacity: 0 !important;
}

.slick-track {
    display: flex !important;
    gap: 50px !important;
}

.slick-dots li {
    transition: 0.3s !important;
}

.slick-dots {
    right: 40% !important;
    bottom: -20% !important;
}

.slick-dots li {
    background-color: #DDE0E4;
    border-radius: 50%;
}

.slick-dots .slick-active {
    width: 45px;
    background-color: #F53838;
    border-radius: 10px;
}

.slick-dots {
    display: flex;
    margin-top: 10px;
    bottom: -70px;
    width: 50%;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: transparent !important;
}

.mt-60 {
    margin-top: 60px;

}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
    z-index: -1;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.gradient {
    background: linear-gradient(360deg, rgba(248, 248, 248, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.subscribe-now {
    font-family: "Rubik", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    max-width: 410px;
}

.let-subscribe {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.subscribe-btn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    padding: 17px 65px;
    background-color: #F53838;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(173, 34, 34, 0.5);
    transition: 0.4s;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: white;
    color: #F53838;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-57 {
    margin-top: 57px;
}

.heading-box {
    padding: 70px 58px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    background-color: white;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mt-20 {
    margin-top: 20px;
}

.backgroundcolor-footer {
    background-color: #F8F8F8;
}

.last-laslesvpn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.7px;
    text-align: left;
}

.last-laslesvpn span {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27.3px;
    text-align: left;
}

.col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.last-paragraph {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 340px;
}

.last-paragraph span {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left
}

.lastbottom-laslesvpn {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #AFB5C0;
}

.lastbottom-laslesvpn span {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #AFB5C0;
}

.col-8 {
    width: 66.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.product {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #0B132A;
}

.links-footer {
    color: #4F5665;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.links-footer:hover {
    color: red;
}

.menubar {
    display: none;
}

.images-apps {
    width: 230px;
}

.menu-btn {
    display: none;
}

.menu-btn-sign {
    display: none;
}

.z-2 {
    z-index: 2;
}

.slick-dots {
    bottom: -25px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.gap-25 {
    gap: 25px;
}

@media (max-width:992px) {
    .menubar {
        width: 40px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 100;
    }

    .menubar span {
        height: 5px;
        width: 100%;
        background-color: red;
        border-radius: 3px;
    }

    .nav-items {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        left: -100%;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }

    .show {
        left: 0;
    }

    .sign-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

@media (max-width:768px) {
    .md-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }


    .menu-btn-sign {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
        color: #F53855;
        background-color: white;
        padding: 10px 24px 10px 22px;
        border: 2px solid red;
        border-radius: 30px;
    }

    .menu-btn-sign:hover {
        background-color: #F53855;
        color: white;
    }

    .md-column-revrse {
        flex-direction: column-reverse;
    }

    .md-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .border-right-2 {
        border: none;
    }

    .md-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;

    }

    .md-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-align-items-center {
        align-items: center;
    }

    .md-justi-center {
        justify-content: center;
    }


}

@media (max-width:576px) {

    .menu-btn-sign {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
        color: #F53855;
        background-color: white;
        padding: 10px 24px 10px 22px;
        border: 2px solid;
        border-radius: 30px;
    }

    .menu-btn-sign:hover {
        background-color: #F53855;
        color: white;
    }

    .menu-btn {
        font-family: "Rubik", sans-serif;
        color: #0B132A;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
    }

    .menu-btn:hover {
        color: #F53855;
    }

    .border-right-1 {
        border: none;
    }


    .sm-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-direction-column {
        flex-direction: column;
    }

    .sign-in {
        display: none;
    }

    .btn-sign {
        display: none;
    }

    .sm-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-align-items-center {
        align-items: center;

    }

    .subscribe-btn {
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        padding: 15px 40px;
        background-color: #F53838;
        color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(173, 34, 34, 0.5);
        transition: 0.4s;
        cursor: pointer;
    }

    .subscribe-btn:hover {
        background-color: white;
        color: #F53838;
    }

    .slick-arrow-buttons {
        display: none;
    }

    .slick-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: absolute !important;
        left: 2% !important;

    }

    .menu-btn {
        display: block;
    }

    .menu-btn-sign {
        display: block;
    }

    /* .menu-btn {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
        color: red;
    }

    .menu-btn:hover {
        color: red;
    } */

    .menu-btn-sign {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.96px;
        text-align: left;
        color: #F53855;
        background-color: white;
        padding: 10px 24px 10px 22px;
        border: 2px solid red;
        border-radius: 30px;
    }

    .menu-btn-sign:hover {
        background-color: #F53855;
        color: white;
    }

}